@import url("https://fonts.cdnfonts.com/css/georgia");
@import url("https://fonts.cdnfonts.com/css/kingstone");
@import url("https://fonts.cdnfonts.com/css/gill-sans-2");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Brand";
  src: url("/fonts/Brand.woff") format("woff");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .toggle-container .toggle-image {
  transition: opacity 0.3s, transform 0.3s;
} */
.swiper-pagination-bullet {
  width: 10.905px !important;
  height: 10.905px !important;
  background: white !important;
  opacity: 0.5 !important;
  display: grid !important;
  border-radius: 50% !important;
  aspect-ratio: 1 !important;
}

.swiper-pagination-bullet-active {
  width: 21.905px !important;
  height: 21.905px !important;
  background: #a5886d !important;
  opacity: 1 !important;
  border: 3px solid white;
}

.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 0;
  width: 150px !important;
  transform: translateX(0) !important;
  white-space: nowrap;
}

@media (max-width: 767px) {
  ._1yCVn {
    bottom: 85px;
    width: 350px !important;
  }
}
